@model IEnumerable<HakunaMatata.Models.DataModels.AboutUs>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>About Us</h5>
                </div>
                <div class="ibox-content">
                    <div class="row mb-2">
                        <a onclick="showInPopup('@Url.Action("CreateOrEdit","AboutUs",new { id = 0 },Context.Request.Scheme)','New Content')"
                           class="btn btn-info col-lg-1 mr-2 text-white"> New Content</a>
                        <input type="search" class="form-control col-lg-4" placeholder="search" />
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Id
                                </th>
                                <th>
                                    Content
                                </th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody >
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @item.Id
                                    </td>
                                    <td>@item.Content</td>
                                    <td class="text-center">
                                        <a onclick="showInPopup('@Url.Action("CreateOrEdit","AboutUs",new {id=item.Id},Context.Request.Scheme)','Update Content')" class="btn btn-info btn-circle text-white"><i class="fa fa-pencil"></i></a>

                                        <form asp-area="AdminArea" asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                                            <button class="btn btn-warning btn-circle" type="submit">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </form>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
